/* -------------------------------------------------- */
/* フォント */
/* -------------------------------------------------- */

/* 基本 */
@font-face {
  font-family: "my_font";
  src: url(../font/BIZUDPMincho-Regular.ttf);
}

/* 等幅数字 */
@font-face {
  font-family: "num_font";
  src: url(../font/GenShinGothic-Medium.ttf);
}

/* -------------------------------------------------- */
/* 定数 */
/* -------------------------------------------------- */

:root {
  /* 最大幅 */
  --max-width: 1000px;

  /* ヘッダー：高さ */
  --header-height: 60px;

  /* スティッキーロウ：高さ */
  --sticky-top: calc(var(--header-height) + 16px);

  /* メインカラー */
  --color-main: rgba(50, 100, 130, 100%);

  /* メインカラー（透過） */
  --color-main-alpha: rgba(50, 100, 130, 25%);

  /* サブカラー */
  --color-sub: rgba(220, 240, 255, 100%);

  /* リンク */
  --color-link: rgba(220, 240, 255, 100%);

  /* 選択 */
  --color-select: rgba(128, 128, 128, 100%);

  /* 背景色 */
  --color-bg: #8ab;
}

/* -------------------------------------------------- */
/* 【汎用】テキスト */
/* -------------------------------------------------- */

/* 文字サイズ：小 */
.t-small {
  font-size: 0.75em;
  font-weight: normal;
}

/* 等幅数字 */
.num-fixed {
  font-family: num_font;
}

/* 文字色：赤 */
span.t-red {
  padding: 4px;
  background: #fcc !important;
}

/* 文字色：青 */
span.t-blue {
  padding: 4px;
  background: #ccf !important;
}

/* 文字色：緑 */
span.t-green {
  padding: 4px;
  background: #cfc !important;
}

/* 文字色：メイン */
.t-color-main {
  color: var(--color-main) !important;
}

/* 文字色：サブ */
.t-color-sub {
  color: var(--color-sub) !important;
}

/* 太字 */
.t-bold {
  font-weight: bold !important;
}

/* 左寄せ */
.t-left {
  text-align: left !important;
}

/* 中央寄せ */
.t-center {
  text-align: center !important;
}

/* 右寄せ */
.t-right {
  text-align: right !important;
}

/* 傍点 */
.t-sidepoint {
  text-emphasis: sesame;
}

/* -------------------------------------------------- */
/* 基本 */
/* -------------------------------------------------- */

/* ボディ */
body {
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
  height: 100%;
  margin: 0;
  font-family: my_font;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 1;
  overflow: hidden;
}

/* メイン */
main {
  flex: 1;
  overflow: auto;
}

/* メイン＞要素 */
main>.detail {
  width: var(--max-width);
  margin: 0 auto;
  padding-bottom: 40px;
}

/* セクション：間隔 */
*+section {
  margin-top: 16px;
}

/* コンテンツ */
.contents {
  background: #fff;
  border-radius: 0 0 8px 8px;
  padding: 16px;
}

/* 段落 */
p {
  margin: 0;
}

/* 段落：間隔 */
p+p {
  margin-top: 16px;
}

/* -------------------------------------------------- */
/* ヘッダー */
/* -------------------------------------------------- */

/* 基本 */
header {
  display: flex;
  align-items: center;
  background: var(--color-main);
  padding-left: 16px;
  color: #fff;
}

/* 見出し */
header>h1 {
  display: flex;
  margin: 0;
  line-height: var(--header-height);
}

/* 見出し１＞セクション名 */
.section_name {
  background: #fff;
  height: fit-content;
  margin-right: 16px;
  padding: 0 16px;
  color: var(--color-main);
  font-weight: bold;
}

/* -------------------------------------------------- */
/* 見出し */
/* -------------------------------------------------- */

/* 共通 */
h2,
h3,
h4 {
  display: flex;
  margin: 0;
  align-items: center;
}

/* 共通 */
h2,
h3 {
  height: var(--header-height);
}

/* 見出し２ */
h2 {
  background: var(--color-main);
  border-radius: 8px 8px 0 0;
  padding: 0 16px;
  color: #fff;
}

/* 見出し３ */
h3 {
  border-bottom: solid 3px var(--color-main);
  border-left: solid 15px var(--color-main);
  margin-top: 16px;
  padding: 0 16px;
  color: var(--color-main);
}

/* 見出し４ */
h4 {
  margin: 0;
  border-bottom: solid 2px var(--color-main);
  color: var(--color-main);
}

/* -------------------------------------------------- */
/* 文章 */
/* -------------------------------------------------- */

/* マーカー */
.keyword {
  padding: 0 4px;
  font-weight: bold;
  background: linear-gradient(transparent 40%, rgba(255, 255, 0, 30%) 40%);
  word-break: keep-all;
}

/* ルール */
.rule_text {
  position: relative;
  background: rgba(255, 255, 0, 15%);
  margin: 1em 0;
  padding: 12px;
}

/* ルール＞段落 */
.rule_text>p {
  margin: 0;
}

/* ルール＞ボタンエリア */
.rule_text>.area-button {
  margin-top: 1em;
  text-align: right;
}

/* 分岐タイトル */
.branch_title {
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* 分岐タイトル：戦闘 */
.branch_title::before {
  content: "▼";
  margin-right: 2px;
  color: var(--color-main);
}

/* -------------------------------------------------- */
/* スティッキーロウ */
/* -------------------------------------------------- */

/* スティッキーロウ：１段目 */
.sticky {
  display: flex;
  background: var(--color-bg);
  width: 100%;
  padding-top: 32px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 2;
}

/* スティッキーロウ＞要素 */
.sticky>* {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

/* スティッキーロウ：２段目 */
.sticky+.contents .sticky {
  background: #fff;
  top: var(--sticky-top);
  z-index: 1;
}

/* -------------------------------------------------- */
/* タグジャンプ */
/* -------------------------------------------------- */

/* セクション */
section {
  margin-top: calc(var(--sticky-top) * -1) !important;
  padding-top: var(--sticky-top) !important;
}

/* 強調表示 */
.flash>h2,
.flash>.sticky>h2 {
  animation: flashSmooth1 1s ease-in-out 4 alternate;
}

/* 強調表示：アニメーション */
@keyframes flashSmooth1 {

  0%,
  100% {
    background-color: var(--color-main);
  }

  50% {
    background-color: #880;
  }

}

/* 強調表示 */
.flash>h3,
.flash>.sticky>h3,
.flash>h4,
.flash>.sticky>h4 {
  animation: flashSmooth2 1s ease-in-out 4 alternate;
}

/* 強調表示：アニメーション */
@keyframes flashSmooth2 {

  0%,
  100% {
    background: #fff;
  }

  50% {
    background: #ff8;
  }

}

/* -------------------------------------------------- */
/* リンクボタン */
/* -------------------------------------------------- */

/* リンク */
a {
  display: inline-block;
  background: var(--color-link);
  border-radius: 4px;
  margin: 0 2px;
  padding: 0 8px;
  cursor: pointer;
  color: currentColor;
  text-decoration: none;
  transition: background-color 0.25s ease, color 0.25s ease;
}

/* リンク：ホバー */
a:hover {
  background-color: var(--color-main) !important;
  color: #fff !important;
}

/* 別タブリンク */
a[target="_blank"] {
  position: relative;
  padding-right: 24px;
}

/* 別タブリンク：末尾要素 */
a[target="_blank"]::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 8px;
  height: 8px;
  border-right: solid 2px currentColor;
  border-bottom: solid 2px currentColor;
  transform: translate(0, -50%) rotate(-45deg);
}

/* リンクボタン */
a.link_button {
  position: relative;
  background: #fff;
  border: solid 3px var(--color-main);
  border-radius: 100px;
  padding: 4px 24px;
  padding-right: 36px;
  color: var(--color-main);
}

/* リンクボタン：末尾要素 */
a.link_button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  width: 10px;
  height: 10px;
  border-right: solid 3px currentColor;
  border-bottom: solid 3px currentColor;
  transform: translate(0, -50%) rotate(-45deg);
}

/* -------------------------------------------------- */
/* 戻るボタン */
/* -------------------------------------------------- */

/* 基本 */
a.button-prev {
  border: solid 2px var(--color-link);
  border-top: 0;
  border-radius: 0 0 8px 8px;
  min-width: 100px;
  padding: 8px;
  position: fixed;
  top: 0;
  right: 24px;
  z-index: 3;
  color: var(--color-main);
  text-align: center;
}

/* -------------------------------------------------- */
/* テーブル */
/* -------------------------------------------------- */

/* テーブル */
table {
  background: rgba(220, 220, 220, 100%);
  border-radius: 8px;
  border-spacing: 4px;
  width: 100%;
  padding: 8px;
}

/* テーブル：間隔 */
*+table {
  margin-top: 16px;
}

/* セル */
table>tbody>tr>* {
  background: #fff;
  padding: 8px;
  text-align: center;
  line-height: 1.25;
}

/* 文字色：赤 */
table>tbody>tr>*.t-red {
  color: #fdd !important;
}

/* 文字色：青 */
table>tbody>tr>*.t-blue {
  color: #ddf !important;
}

/* 文字色：緑 */
table>tbody>tr>*.t-green {
  color: #dfd !important;
}

/* セル：緑 */
table>tbody>tr>*.bg-green {
  background: #efe;
}

/* ヘッダーセル */
table>tbody>tr>th {
  background: rgba(128, 128, 128, 100%);
  padding: 8px 12px;
  color: #fff;
  font-size: 1.1em;
  font-weight: normal;
}

/* -------------------------------------------------- */
/* 番号 */
/* -------------------------------------------------- */

/* 通常 */
.num {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  margin-right: 8px;
  padding: 8px;
  background: var(--color-main);
  border-radius: 8px;

  color: #fff;
  font-family: num_font;
  font-weight: bold !important;
  line-height: 1;
}

/* h内 */
h2>.num,
h3>.num,
h4>.num {
  height: fit-content;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* h2内 */
h2>.num {
  background: #fff;
  color: var(--color-main);
}

/* 段落内 */
p>.num {
  margin: 0 4px;
  padding: 4px 6px;
}

/* -------------------------------------------------- */
/* 処理順 */
/* -------------------------------------------------- */

/* コンテナ */
.list_container {
  border: solid 3px var(--color-main);
  border-radius: 8px;
  padding: 12px;
}

/* 段落→コンテナ */
p+.list_container {
  margin-top: 16px;
}

/* コンテナ内コンテナ */
.list_container .list_container {
  border: none;
  margin: 0;
  padding: 0;
  padding-left: 1.5em;
}

/* 処理順 */
.list_container>.process {
  padding: 1em 0;
}

/* 処理順：最初の要素 */
.list_container>.process:first-child {
  padding-top: 0;
}

/* 処理順：最後の要素 */
.list_container>.process:last-child {
  padding-bottom: 0;
}

/* 処理順：洞察 */
.process+.process {
  border-top: solid 2px var(--color-sub);
}

/* 処理順＞タイトル */
.process>.title {
  display: flex;
  align-items: center;
}

/* 処理順＞内容 */
.process>.detail {
  margin-top: 0.5em;
  padding-left: 1.5em;
}

/* 番号 */
.process span.num,
.list_container span.num {
  margin-top: 4px;
  margin-bottom: 4px;
}

/* ２段落目リスト */
.process>.list_container {
  margin-top: 1em;
}