/* -------------------------------------------------- */
/* ＮＰＣ */
/* -------------------------------------------------- */

/* ２列 */
.grid-npc {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 48px;
}

/* 画像 */
.grid-npc img {
  width: 100%;
}